:root {
  /* Spacing */
  --spacing-s: 8px;
  --spacing-m: 16px;

  /* Radius */
  --rounded: 8px;
  --round: 999px;

  /* Semantic Colors */
  --primary: #E0E4CD;
  --secondary: black;
  --bg-color: white;
  --disabled: #D9DCD1 ;

  /* UI Colors */
  --ui01: #F3F5EB;
  --ui02: #E4E7D7;
  --ui05: #B5BD9A;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    font-size: 1rem;
  }

  #logo {
    display: block;
    margin-left: auto;
  }
  #preview-box-container {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    padding: var(--spacing-s) var(--spacing-m) var(--spacing-s) var(--spacing-m);
  }

  #preview-box {
    margin-top: var(--spacing-s);
    display: flex;
    gap: var(--spacing-s);
    flex-direction: column; /* Stack items vertically */
    align-content: space-between;
    justify-content: center; /* Horizontally center items */
    background-color: var(--ui01);
    border-radius: var(--rounded);
    text-align: center;
    cursor: pointer;
    padding: var(--spacing-m);
    height: 20vh;
  }

  #preview-text {
    font-weight: bold;
    font-size: 2rem;
  }

  sub {
    opacity: 0.2;
  }

  .flipped {
    transform: rotate(180deg);
  }

  .categories {
    overflow: scroll;
  }
  .category {
    margin-bottom: var(--spacing-m);
  }

  .category-title {
    font-weight: bold;
    margin-bottom: var(--spacing-s);
  }

  button {
    font-size: inherit;
    cursor: pointer;
  }

  button:disabled,
  button[disabled]{
  cursor: not-allowed;
  color: black;
}

  .word-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacing-s);
  }

  .word-button {
    padding: var(--spacing-s) var(--spacing-m);
    width: calc(33% - var(--spacing-s));
    background-color: var(--primary);
    border: none;
    border-radius: var(--rounded);
    height: 52px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .word-button.add-phrase-button {
    padding: var(--spacing-s) var(--spacing-m);
    width: calc(33% - var(--spacing-s));
    background-color: transparent;
    border: 2px solid;
    border-radius: var(--rounded);
    border-color: var(--primary);
    height: 52px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .word-button:disabled {
    transform: scale(1);
      animation: pulse-green 2s infinite;
  }

  .word-input {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: var(--ui01);
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    font-size: 16px;
  }

  #custom-word-input {
    width: 100%;
    height: 36px;
    border-radius: var(--rounded);
    padding: var(--spacing-s);
    background-color: var(--bg-color);
    border-style: none;
  }

  #custom-word-button {
    margin-left: var(--spacing-m);
    border-radius: var(--round);
    padding: var(--spacing-s);
    width: 56px;
    height: 56px;
    border: none;
    background-color: var(--secondary);
  }

  #custom-word-button:active {
    transform: scale(1) !important;
      animation: pulse-black 2s infinite !important;
    background-color: red !important;
  }

  #custom-word-button:disabled {
    background-color: var(--disabled);
    /* transform: scale(1) !important;
      animation: pulse-black 2s infinite !important;
    background-color: red !important; */
  }

  .side-padding {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
  }

  input[type="text"]
  {
  font-size: inherit;
  }


  .icon {
    padding: var(--spacing-s);
  }

  .filter-white {
    filter: invert(97%) sepia(0%) saturate(7458%) hue-rotate(46deg) brightness(108%) contrast(97%);
  }

  @keyframes pulse-black {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-green {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(224, 228, 205, 0.7);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(224, 228, 205, 0);
  }
  
  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(224, 228, 205, 0);
  }
}
